<div class="section-middle">
  <div class="container">
    <h3>Mulch fundraisers</h3>
    <p>Whether you are a professional landscaper, golf course groundskeeper or an enthusiastic home gardener,
      finding a reliable mulch supplier can save you a lot of time and money.
      These companies should offer a combination of variety, expert advice and quick delivery.</p>    
    <p>Van Beek’s Garden Supply has been a mulch supplier in Southern Ontario
      since 1962 and offers expert advice so that homeowners and professionals
      can purchase the appropriate mulch for any job.</p>
    <ul>      
      <button class="btn btn-small btn-dark" (click)="onCompost()">Compost</button>
      <button class="btn btn-small btn-dark" (click)="onMulch()">Mulch</button>      
    </ul>
  </div>
</div>
