
<div class="row">
  <div class="col-sm">
    <div class="contacts">
      <h3>Contact Us</h3>
      <p><strong>Store Hours:</strong> Monday-Friday 8-5, Closed Weekends.</p>
      <p><strong>Email:</strong> info@growers-inc.com</p>
      <p><strong>Phone:</strong> 503-393-6411</p>
      <p><strong>Tollfree:</strong> 800-391-6411</p>
      <p><strong>Fax:</strong> 503-393-6601</p>
      <br>
      <p><strong>Address:</strong></p>
      <p>Nursery Supply, Inc.<br>
        3695 Clausen Acres Ln NE<br>
        Salem, OR 97303</p>
    </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2818.2265213016576!2d-122.98461568408007!3d45.06091576828235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495570d43e5bcd3%3A0x307b4826b8dde6ef!2sGrower's+Nursery+Supply%2C+Inc!5e0!3m2!1sen!2sus!4v1499461209525" width="500" height="450" frameborder="0"></iframe>

  </div>
</div>









