<section class="section-top">
  <div class="container">
    <div class="row">
      <div class="card col-lg-4 col-md-4 col-sm-6 d-flex">
        <div class="card__picture card__picture-1"></div>
        <div class="card__title">Potting Soil</div>
        <button type="button" class="btn btn-outline-success">Learn more</button>
      </div>
      <div class="card col-lg-4 col-md-4 col-sm-6 d-flex">
        <div class="card__picture card__picture-2"></div>
        <div class="card__title">Peat Moss</div>
        <button type="button" class="btn btn-outline-success">Learn more</button>
      </div>
      <div class="card col-lg-4 col-md-4 col-sm-6 d-flex">
        <div class="card__picture card__picture-3"></div>
        <div class="card__title">Fertilizers</div>
        <button type="button" class="btn btn-outline-success">Learn more</button>
      </div>
      <div class="card col-lg-1 col-md-1 col-sm-6 d-flex">
        <div class="card__picture card__picture-4"></div>
        <div class="card__title">Mulch</div>
        <button type="button" class="btn btn-outline-success">Learn more</button>
      </div>
      <div class="card col-lg-1 col-md-1 col-sm-12 d-flex">
        <div class="card__picture card__picture-5"></div>
        <div class="card__title">Compost</div>
        <button type="button" class="btn btn-outline-success">Learn more</button>
      </div>
    </div>
  </div>
</section>
