<div class="section-middle">
  <div class="container">
    <h3>Compost</h3>      
      <p>Some common ingredients used in potting soil are peat, composted bark, sand,
          perlite and recycled mushroom compost, although many others are used and the 
          proportions vary hugely. Most commercially available brands have their pH fine-tuned 
          with ground limestone; some contain small amounts of fertilizer and slow-release 
          nutrients.[2] Despite its name, little or no soil is used in potting soil because it 
          is considered too heavy for growing houseplants.</p>      
  </div>
</div>