<div class="section-middle">
  <div class="container">
      <h3>Peat Moss</h3>
      <p>Potting soil, also known as potting mix or potting compost, is a medium in 
          which to grow plants, herbs and vegetables in a pot or other durable container. 
          The first recorded use of the term is from an 1861 issue of the American Agriculturist.</p>
      <p>Some common ingredients used in potting soil are peat, composted bark, sand,
          perlite and recycled mushroom compost, although many others are used and the 
          proportions vary hugely. Most commercially available brands have their pH fine-tuned 
          with ground limestone; some contain small amounts of fertilizer and slow-release 
          nutrients.[2] Despite its name, little or no soil is used in potting soil because it 
          is considered too heavy for growing houseplants.</p>      
  </div>
</div>
