<h1>For&nbsp;All Your Landscaping Needs...</h1>

<div class="row">
  <div class="col-sm">
    <div class="section-top__greeting">
      <h3>Welcome to&nbsp;Nursery Supply&nbsp;Co.</h3>
      <div class="section-top__greeting__text">
        Nursery Supply&nbsp;Co.&nbsp;LLC, the&nbsp;manufacturer of&nbsp;Black Platinum and&nbsp;Gold
        Diamond hardwood mulch was founded in&nbsp;1974. In&nbsp;March&nbsp;2004 the&nbsp;company
        was purchased by its current ownership based in&nbsp;Louisville,&nbsp;KY.
        Our&nbsp;mulch manufacturing plants in&nbsp;Clay City, KY and&nbsp;Greenville,
        IN provide numerous mulch products to&nbsp;customers throughout Ohio,
        Indiana and&nbsp;Kentucky. We&nbsp;service a&nbsp;customer base which includes;&nbsp;...&nbsp;,
      </div>
    </div>
  </div>
</div>
