<section class="section-buttom">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h3>Community</h3>
          <h2>Benefits</h2>
  
          <!--<p [class]="myclass">jsdhg</p>-->
  
  
          <div class="section-buttom__content">
            Nursery Supply&nbsp;Co., LLC&nbsp;Fundraising is dedicated to&nbsp;helping
            organizations of&nbsp;all types fund their needs and&nbsp;efforts.
            Our&nbsp;fundraisers have helped sports teams purchase new uniforms,
            youth groups fund mission trips, scout troops pay for&nbsp;camping
            equipment and&nbsp;neighborhood organizations pay for&nbsp;landscaping.
            The sky is the limit on&nbsp;profit dollars your organization can
            generate with a&nbsp;mulch and/or&nbsp;bulb fundraiser from Nursery
            Supply&nbsp;Co.,&nbsp;LLC.
          </div>
          <button type="button" class="btn btn-outline-success">Learn more</button>
        </div>
      </div>
  
    </div>
  </section>