<div class="nav-buttom">
  <div class="container">
    <nav class="nav justify-content-center">
      <a *ngFor="let item of routes"
            class="nav-link"
            [routerLink]="item.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">
            {{ item.data.title }}
          </a>
     
    </nav>
  </div>
</div>

<div class = footer-buttom>
  <div class="container">
    <div class="row justify-content-space-between">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">© Nursery Supply Co. All rights reserved</div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">Development by Nursery Supply Co. 2016</div>
    </div>
  </div>
</div>

