<div class="nav-buttom">
  <div class="container">
    <nav class="nav justify-content-center">
      <a class="nav-link" routerLink="">Home</a>
      <a class="nav-link" routerLink="mulch-suppliers">Mulch&nbsp;Supplier</a>
      <a class="nav-link" routerLink="soils">Soils</a>
      <a class="nav-link" routerLink="mulch-fundraisers">Mulch&nbsp;Fundraisers</a>
      <a class="nav-link" routerLink="contact us">Contact&nbsp;Us</a>
    </nav>
  </div>
</div>

<div class = footer-buttom>
  <div class="container">
    <div class="row justify-content-space-between">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">© Nursery Supply Co. All rights reserved</div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">Development by Nursery Supply Co. 2016</div>
    </div>
  </div>
</div>
