<div class="section-middle">
  <div class="container">
      <h3>Fertilisers</h3>
      <p>Potting soil, also known as potting mix or potting compost, is a medium in 
          which to grow plants, herbs and vegetables in a pot or other durable container. 
          The first recorded use of the term is from an 1861 issue of the American Agriculturist.</p>
      <p>Some common ingredients used in potting soil are peat, composted bark, sand,
          perlite and recycled mushroom compost, although many others are used and the 
          proportions vary hugely. Most commercially available brands have their pH fine-tuned 
          with ground limestone; some contain small amounts of fertilizer and slow-release 
          nutrients.[2] Despite its name, little or no soil is used in potting soil because it 
          is considered too heavy for growing houseplants.</p>
      <p>Some plants require potting soil that is specific for their environment. 
          For example, an African violet would grow better in potting soil containing 
          extra peat moss, while a cactus requires sharp (i.e. plenty of) drainage, most 
          commonly perlite or sand.[4] But potting soil is not ideal for all contained gardening. 
          Insectivorous plants, such as the Venus flytrap and the pitcher plant, prefer nutrient-poor 
          soils common to bogs and fens,[5] while water-based plants thrive in a heavier topsoil mix.</p>
      <p>Commercially available potting soil is sterilized, in order to avoid the spread of weeds 
          and plant-borne diseases. It is possible to reuse commercial potting soil, provided that
          the remnants of plant roots, fungus, weeds and insects are removed from the mixture 
          through heating before new planting can take place.[7] Packaged potting soil is sold 
          in bags ranging from 5 to 50 pounds (2.3–22.7 kg).</p>
  </div>
</div>
