<app-header-component>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, incidunt!</app-header-component>
<app-section-top-component>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt.</app-section-top-component>
<app-section-bottom-component>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Aliquid atque enim magni modi possimus praesentium provident quam sed vero voluptatum?</app-section-bottom-component>
<app-footer-component>Lorem ipsum dolor sit amet.</app-footer-component>


