<div class="section-middle">
  <div class="container">
      <h3>Mulch</h3>      
      <p>Commercially available potting soil is sterilized, in order to avoid the spread of weeds 
          and plant-borne diseases. It is possible to reuse commercial potting soil, provided that
          the remnants of plant roots, fungus, weeds and insects are removed from the mixture 
          through heating before new planting can take place.[7] Packaged potting soil is sold 
          in bags ranging from 5 to 50 pounds (2.3–22.7 kg).</p>
  </div>
</div>
