<div class="section-top">
  <div class="container">
  <div class="row d-flex">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="logo-bg">
        <div class="logo"></div>
      </div>
      <div class="logo-line"></div>
    </div>
  </div>

  <div class="row justify-content-center">
    <nav class="navbar navbar-expand-sm navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 justify-content-center d-flex">
          <li class="nav-item">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mulch&nbsp;Supplier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Soils</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mulch&nbsp;Fundraisers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact&nbsp;Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1>For&nbsp;All Your Land&shyscaping Needs...</h1>

    <div class="row">
      <div class="col-sm">
        <div class="section-top__greeting">
          <h3>Welcome to&nbsp;Nursery Supply&nbsp;Co.</h3>
          <div class="section-top__greeting__text">
            Nursery Supply&nbsp;Co.&nbsp;LLC, the&nbsp;manufacturer of&nbsp;Black Platinum and&nbsp;Gold
            Diamond hardwood mulch was founded in&nbsp;1974. In&nbsp;March&nbsp;2004 the&nbsp;company
            was purchased by its current ownership based in&nbsp;Louisville,&nbsp;KY.
            Our&nbsp;mulch manufacturing plants in&nbsp;Clay City, KY and&nbsp;Greenville,
            IN provide numerous mulch products to&nbsp;customers throughout Ohio,
            Indiana and&nbsp;Kentucky. We&nbsp;service a&nbsp;customer base which includes;&nbsp;...&nbsp;,
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
