<router-outlet></router-outlet>
<div class="section-middle">
  <div class="container">
  <h3>Soils</h3>
  <p>Although soils may look uniform in the hand, at microscopic level they consist of 
    complex structures of solid grains separated by pores, channels and chambers. 
    The solids are chemically active and are slowly, but continually changing in composition 
    and shape. The spaces between these grains (pores)  are filled with constantly changing 
    mixtures of air and water and are inhabited by huge numbers of microscopic organisms.</p>
  <p>Many soil solids come from rocks. which are weathered when exposed at the earth’s surface. 
    Weathering involves breaking rocks down into small grains, and is caused by water from rain 
    and changing temperatures. Some of the broken down rocks dissolve in rainwater and are 
    washed away. Others remain as soil solids, but as new soil particles. 
    There are three main types of soil particle these are Sand, Silt and 
    Clay which are different sizes.  The proportions of different sized grains give 
    soils a distinctive feel, or texture. Rub moist soil between finger and thumb to 
    feel the texture. Sand grains, mostly from weathered rock, are coarse and gritty; 
    clays are fine-grained and feel sticky. Intermediate- sized silt grains feel silky. 
    Clay soils are mouldable but sandy soils fall apart.  You also find 'Organic matter' 
    in soils, this comes from living organisms, such as plant and animal remains, broken 
    down and consumed by the vast numbers of tiny specialist microbes and animals. 
    Their activities release nutrients for re-use by successor plants and animals.</p>
    <button class="btn btn-small btn-dark" (click)="onPottingSoils()">Potting Soil</button>
  </div>
</div>

